language: go
sudo: required
dist: trusty

services:
  - docker

go:
 - 1.9.x

addons:
   apt:

env:
  global:
    - TOOLS_CMD=golang.org/x/tools/cmd
    - PATH=$GOROOT/bin:$PATH
    - SUDO_PERMITTED=1

before_install:
  - go get -u gopkg.in/alecthomas/gometalinter.v1
  - go get -u github.com/golang/dep/cmd/dep
  - gometalinter.v1 --install
  - make codegen

install:
  - mkdir -p $GOPATH/src/github.com/docker && cd $GOPATH/src/github.com/docker && git clone https://github.com/docker/docker -b 1.13.x docker && cd -
  - dep ensure -v


script:
  - make build

after_success:
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
  - 'if [ ${TRAVIS_BRANCH} = "master" ] && [ ${TRAVIS_PULL_REQUEST} = "false" ]; then
      make docker_push;
    fi'
  - make docker_push -e DOCKER_IMAGE_TAG="${TRAVIS_COMMIT}"
